* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background: fixed url("../img/b03_bg.jpg") 50% 0 no-repeat;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	font-weight: 600;
}


h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

h4 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



.h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	margin: 0 0 20px;
	text-align: center;

	&:before {
		content: "";
		background: #ffb400;
		display: block;
		position: relative;
		width: 30px;
		height: 4px;
		border-radius: 4px;
		margin: 0 auto;
		margin-top: 20px;
		bottom: 20px;
		z-index: 1;
	}
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.btn-close {
	color: #fff;
	right: 8px;
	top: 8px;
	cursor: pointer;
	position: absolute;
}


.modal-box {
	width: 260px;
	background: #fff;
	padding: 25px 20px;

	.form-title {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.form-text {
		font-size: 13px;
		line-height: 17px;
		text-align: center;
		margin-bottom: 15px;
	}

	.sup {
		padding-top: 15px;
		text-align: center;
		font-size: 12px;
	}

	@media (min-width: $screen-sm-min) {
		width: 360px;
		padding: 30px 30px;
	}
}


.done {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;

	body {
		width: 100%;
		height: 100%;
		text-align: center;
		display: table-cell;
		position: relative;
		background: #f3f0e9;
		vertical-align: middle;
	}

	.done__head {
		font-size: 60px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.done__title {
		font-size: 45px;
		margin-bottom: 20px;
	}

	.done__text {
		font-size: 30px;
		text-align: center;
		margin-bottom: 50px;
		padding-top: 40px;
	}
}