.b06 {
    padding: 50px 0;
    background: #fff;

    .h2 {
        margin-bottom: 40px;
    }

    .partners {
        font-size: 0;
        line-height: 0;
        max-width: 940px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        .partners-item {
            width: 50%;
            outline: none;
            padding: 0 10px;
            margin-bottom: 20px;
            display: inline-block;

            img {
                @include img-responsive(inline-block);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: url('grayscale.svg#greyscale');
                filter: gray;

                &:hover {

                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -ms-filter: grayscale(0%);
                    -o-filter: grayscale(0%);
                    filter: grayscale(0%);
                    filter: url(''); /* Firefox 4+ */
                    filter: none; /* IE 6-9 */
                }
            }
        }
    }


    @media (min-width: $screen-sm-min) {

    }

}