.b05 {
    padding: 50px 0;
    background: #f8f8f8;

    .h2 {
        margin-bottom: 25px;
    }

    .review {
        width: 214px;
        font-size: 0;
        line-height: 0;
        margin: 0 auto;
        padding-bottom: 15px;
        text-align: center;
        position: relative;


        .review-item {
            outline: none;
            position: relative;
            display: inline-block;
            margin: 15px 15px 30px 15px;
            border: 1px solid #f1f1f1;
            @include box-shadow(0 0 5px 5px rgba(0,0,0,0.1));

            &:hover {
                @include box-shadow(0 0 0 0 rgba(0,0,0,0));
            }

            a {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 20;
                content: '';
                position: absolute;
                @include opacity(0);
                background: rgba(255,180,0, 0.7) url("../img/icon-loop-white.png") 50% 50% no-repeat;

                &:hover {
                    @include opacity(1);
                }
            }
        }

        .review-nav {
            left: 50%;
            bottom: 0;
            color: #fff;
            width: 24px;
            height: 24px;
            z-index: 20;
            padding: 2px 0;
            display: block;
            cursor: pointer;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            background: $color-yellow;

            &:hover {
                color: #fff;
                background: #222222;
            }

            &.prev {
                margin-left: -40px;
            }

            &.next {
                margin-right: 40px;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .review {
            width: 100%;
        }
    }

    @media (min-width: $screen-md-min) {

        .review {
            width: 740px;
        }
    }
}