.b04 {
    padding: 50px 0;
    background: #fff;

    .text {
        line-height: 24px;
        font-weight: 300;
    }

    .gallery {
        margin-bottom: 25px;

        li {
            width: 50%;
            float: left;
            position: relative;

            a {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 20;
                content: '';
                position: absolute;
                @include opacity(0);
                background: rgba(0,0,0, 0.5) url("../img/icon-loop-yellow.png") 50% 50% no-repeat;

                &:hover {
                    @include opacity(1);
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .gallery {

            li {
                width: 33.33%;
            }
        }
    }
}