.b08 {
    padding: 50px 0;
    background: #fff;

    .text {
        padding: 0;
        color: #333;
        display: block;
        font-size: 14px;
        margin-bottom: 25px;
        line-height: inherit;
    }

    .address {
        color: #fff;
        padding: 35px;
        margin-bottom: 25px;
        @include border-radius(4px);
        background: #292c2f url("../img/ruler2.png") 100% 0 repeat-y;

        h4 {
            color: #ffb400;
        }

        .address-title {
            color: #ffb400;
            font-weight: 700;
            line-height: 24px;
        }

        .address-content {
            padding: 10px 0;
            font-weight: 700;
        }
    }
}