.b02 {
    padding: 50px 0;
    background: #fff url("../img/ruler.png") 50% 100% repeat-x;

    .module {

        .module-item {
            padding: 20px;
            text-align: center;
            margin-bottom: 15px;
            @include border-radius(4px);

            &:hover {

                .module-text {

                }
            }

            &.item1 {
                background: url("../img/catalog/pgs.jpg") 50% 50% no-repeat;
                background-size: cover;
            }

            &.item2 {
                background: url("../img/catalog/sand-medium.jpg") 50% 50% no-repeat;
                background-size: cover;
            }

            &.item3 {
                background: url("../img/catalog/sand-small.jpg") 50% 50% no-repeat;
                background-size: cover;
            }

            &.item4 {
                background: url("../img/catalog/graviy_5-20.jpg") 50% 50% no-repeat;
                background-size: cover;
            }

            &.item5 {
                background: url("../img/catalog/graviy_20-40.jpg") 50% 50% no-repeat;
                background-size: cover;
            }

            &.item6 {
                background: url("../img/catalog/sheben.jpg") 50% 50% no-repeat;
                background-size: cover;
            }

            .module-text {
                padding: 20px;
                background: #ffb400;
                color: #fff !important;
                @include border-radius(4px);
                @include transition(all 0.4s ease 0s);

                &:hover {

                }
            }

            h4 {

                a {
                    color: #fff;
                }
            }

            p {
                line-height: 22px;
                margin-bottom: 5px;
            }

            .btn-point {
                color: #fff;
                display: inline-block;
                position: relative;

                &:after {
                    content: "\f141";
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                    font-family: FontAwesome;
                    font-size: 28px;
                    line-height: 0;
                }
            }

        }

        .module-button {
            padding: 0 40px;
            text-align: center;
            margin-bottom: 30px;

            .btn {
                width: 100%;
                max-width: 250px;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .module {

            .module-item {
                padding: 40px;

                .module-text {
                    padding: 30px;
                    height: 225px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

    }
}