.b01 {
    max-width: 100%;
    overflow: hidden;
}


.slider {
    padding-top: 80px;
    position: relative;

    .slider-item {
        outline: none;
        padding: 100px 0 60px 0;
        text-align: center;
        position: relative;

        &.item1 {
            background: url("../img/slider/slide-1.jpg") 50% 50% no-repeat;
            background-size: cover;
        }

        &.item2 {
            background: url("../img/slider/slide-2.jpg") 50% 50% no-repeat;
            background-size: cover;
        }
    }

    .slider-text {
        color: $color-yellow;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    .slider-nav {
        top: 50%;
        color: #fff;
        width: 80px;
        height: 80px;
        z-index: 20;
        display: block;
        cursor: pointer;
        padding: 25px 0;
        font-size: 30px;
        line-height: 30px;
        margin-top: -40px;
        text-align: center;
        position: absolute;
        background: rgba(0,0,0, 0.3);

        &:hover {
            color: #000;
            background: rgba(255,255,255, 1);
        }

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }
}

@media (min-width: $screen-sm-min) {

    .slider {

        .slider-item {
            padding: 110px 0 80px 0;
        }

        .slider-text {
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: $screen-md-min) {

    .slider {

        .slider-item {
            padding: 200px 0;
        }

        .slider-text {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 30px;
        }

    }
}

@media (min-width: $screen-lg-min) {

    .slider {

        .slider-item {
            padding: 200px 0;
        }

        .slider-text {
            font-size: 60px;
            font-weight: 800;
            margin-bottom: 30px;
        }
    }
}

