.b03 {
    color: #fff;
    padding: 100px 0;
    text-align: center;
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat;


    h4 {
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 0;
    }


    .text {
        margin-bottom: 40px;
    }

    @media (min-width: $screen-sm-min) {
        background: transparent;
    }
}
