.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: absolute;

    &.fix-top {
        position: fixed;

        .top {
            display: none;
        }
    }
}


.label {
    top: 40px;
    left: 0;
    position: absolute;
}

.top {
    padding: 10px 0;
    background: #ffb400;

    .contact-info {
        padding: 0;
        margin: 0 -10px;
        list-style: none;
        text-align: center;

        li {
            margin: 0 10px;
            display: inline-block;

            i {
                margin-right: 5px;
            }

            a {
                color: #fff;
                padding: 0;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .contact-info {
            text-align: left;
        }

    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

    }
}


.topnav {
    padding: 25px 0;
    background: #292c2f;

    .navbar-header {

        .logo {
            float: left;
            width: 165px;
        }

        .navbar-toggle {
            float: right;
            width: 30px;
            height: 30px;
            border: none;
            padding: 5px 0;
            cursor: pointer;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            background: transparent;
            color: rgba(255,255,255,0.5);

            &:hover,
            &.active {
                color: $color-yellow;
            }
        }
    }

    .navbar {
        display: none;
        font-size: 0;
        line-height: 0;
        padding-top: 15px;

        > li {
            width: 100%;

            > a {
                width: 100%;
                cursor: pointer;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                vertical-align: middle;
                color: rgba(255,255,255,0.5);

                &:hover,
                &.active {
                    color: $color-yellow;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .navbar-header {
            float: left;


            .navbar-toggle {
                display: none;
            }
        }

        .navbar {
            float: right;
            display: block;
            padding-top: 0;
            text-align: right;

            > li {
                width: auto;
                display: inline-block;
            }
        }
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

    }
}