@mixin button-variant($color, $color-hover, $background, $background-hover, $border, $border-hover) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color-hover;
        background-color: $background-hover;
        border-color: $border-hover;
    }
    &:hover {
        color: $color-hover;
        background-color: $background-hover;
        border-color: $border-hover;
    }
    &:active,
    &.active {
        color: $color-hover;
        background-color: $background-hover;
        border-color: $border-hover;

        &:hover,
        &:focus,
        &.focus {
            color: $color-hover;
            background-color: $background-hover;
            border-color: $border-hover;
        }
    }
}