.btn {
	outline: none;
	cursor: pointer;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.42857143;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	position: relative;
	border: 1px solid transparent;

	@include border-radius(4px);
	@include transition(all .2s linear);

	&:hover {
		text-decoration: none;
	}

	&:active,
	&.active {
		outline: 0;
		background-image: none;
		@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}
}

.btn-white {
	@include button-variant(#ffb400, #fff, #fff, #292c2f, #fff, #292c2f);
}

.btn-yellow {
	@include button-variant(#fff, #fff, #ffb400, #292c2f, #ffb400, #292c2f);
}

.btn-yellow-light {
	@include button-variant(#fff, #fff, #ffb400, rgba(255,180,0, 0.7), #ffb400, #ffb400);
}

.btn-md {
	font-size: 16px;
	font-weight: 800;
	padding: 10px 20px;
}

.btn-sm {
	padding: 10px 20px;
}