.form-control {
	margin: 0;
	width: 100%;
	color: #555;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 12px;
	display: inline-block;
	background: transparent;
	border: 1px solid #ccc;
	@include placeholder(#555);
	@include border-radius(4px);
	@include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s);


	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #8dbbdd;
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 15px;
}